@import "~bootstrap/scss/bootstrap";

.container{
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: calc(100% - 1.25rem);
  padding: .313rem 1.25rem;
  max-width: 85rem;

}
#formulario{
  margin:0 auto;
  border:solid 1px #dcdcdc;
  border-radius: 10px;
  padding:2rem;
}
#formulario h2{
  text-align: center;
  margin-top:0px;
}
form label{
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-gap:18px;
  margin:16px 0px;
}
form label span{
  width: 40%;
  text-align: right;
}
form label input{
  border:solid 1px #dcdcdc;
  height: 38px;
}
form label select{
  border:solid 1px #dcdcdc;
  height: 38px;
  width:150px;
}
input[type=submit] {
  padding:10px 20px; 
  border:solid 1px #dcdcdc;
  cursor:pointer;
  border-radius: 5px; 
  float:right;
}
form button {
	float:right;
}